body header nav .menu li a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3b5998;
  border-radius: 50px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
body header nav .menu li a i.fa-facebook-f:hover {
  background-color: #5777bd;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 19px;
}
@media only screen and (max-width: 425px) {
  *,
::before,
::after {
    font-size: 16px;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
}
body header nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 0.5% 5% 0% 5%;
  z-index: 1;
}
@media screen and (min-width: 860px) {
  body header nav.sticky {
    background-color: #fff;
  }
  body header nav.sticky ul li a {
    color: #000;
    font-weight: 900;
  }
}
body header nav .a-logo {
  width: min(100%, 100px);
  padding-right: 5%;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}
body header nav .a-logo .logo {
  width: 100px;
  height: auto;
}
body header nav .menu {
  width: min(100%, 1024px);
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 860px) {
  body header nav .menu {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: #111;
  }
  body header nav .menu.active {
    left: 0;
  }
}
body header nav .menu li {
  list-style: none;
}
@media screen and (max-width: 860px) {
  body header nav .menu li {
    margin: 16px 0;
  }
}
body header nav .menu li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 20px;
  transition: 0.6s;
}
body header nav .menu li a:hover {
  font-size: 26px;
}
@media only screen and (max-width: 1024px) {
  body header nav .menu li a {
    font-size: 17px;
  }
  body header nav .menu li a:hover {
    font-size: 20px;
  }
}
@media screen and (max-width: 860px) {
  body header nav .menu li a {
    font-size: 21px;
    color: #fff;
  }
}
body header nav .hamburger {
  display: none;
  cursor: pointer;
  background-color: #111;
  width: 60px;
  border-radius: 50px;
}
@media screen and (max-width: 860px) {
  body header nav .hamburger {
    display: block;
  }
  body header nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  body header nav .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  body header nav .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
body header nav .hamburger .bar {
  display: block;
  width: 35px;
  height: 4px;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
body h1 {
  font-size: 40px;
  text-align: center;
  padding: 2% 0;
  width: 100%;
}
@media only screen and (max-width: 425px) {
  body h1 {
    padding: 5% 0;
  }
}
body header {
  margin-bottom: 10%;
}
@media only screen and (max-width: 425px) {
  body header {
    margin-bottom: 40%;
  }
}
body h3 {
  padding: 2% 0;
  font-size: 22px;
  width: 90%;
  margin: auto;
}
body .subtitle {
  font-size: 26px;
  padding: 2% 0;
}
body .margin {
  width: 90%;
  height: auto;
  margin: auto;
}
body footer {
  width: 100%;
  background-color: #fff;
  height: 7vh;
}
body footer .list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  body footer .list {
    flex-direction: column;
  }
}
body footer .list li {
  font-family: "Courier New", Courier, monospace;
  color: #111;
  list-style: none;
}
@media only screen and (max-width: 768px) {
  body footer .list li {
    font-size: 11px;
  }
}
body footer .list li a {
  text-decoration: none;
  color: #000;
}/*# sourceMappingURL=mentions-legales.css.map */