@mixin footer {

    footer{
        margin-top: 10%;
        width: 100%;
        background-color: #fff;
        height: 7vh;
         
        .list{
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            @media #{$resp-large-size} {
                flex-direction: column;        
            }
           
            span{
                font-family:'Courier New', Courier, monospace;
                color: #000;

                @media #{$resp-medium-size} {
                    font-size: 11px;      
                }
    
                a{
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}
