@mixin header {
    
    header {

        nav{
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.6s;
            padding: 0.5% 5% 0% 5%;
            z-index: 1;

            @media screen and (min-width : 860px) {
                &.sticky{
                    background-color: #fff;
        
                    ul li a{
                        color: #000;
                        font-weight: 900;
                    }
                }
            }
    
            .a-logo{
                width:min(100%,100px);
                padding-right: 5%;
                display: flex;
                justify-content: center;
                .logo{
                    width:100px;
                }
            }
    
    
            .menu {
                width: min(100%, 1024px);
                margin: auto;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-around;

                @media screen and (max-width: 860px){
                    position: fixed;
                    left: -100%;
                    top: 0;
                    height: 100%;
                    gap: 0;
                    flex-direction: column;
                    width: 100%;
                    text-align: center;
                    transition: 0.3s;
                    background-color: $dark-color;
                 
                    &.active{
                        left: 0;
                    }
                }
    
                li{

                    @media screen and (max-width: 860px){
                        margin: 16px 0;
                    }
    
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: #fff;
                        letter-spacing: 2px;
                        font-weight: 500;
                        font-size: 20px;
                        transition: 0.6s;
    
                        &:hover {
                            font-size: 26px;
                        }

                        @media #{$resp-large-size} {
                             font-size: 17px;    
                             
                             &:hover {
                                font-size: 20px;
                            }
                        }

                        @media screen and (max-width: 860px){
                            font-size: 21px;
                            color: $light-color;
                        }

                        i{
                            @extend %i-styles;
                        }
                    }
                }
            }

            .hamburger{
                display: none;
                cursor: pointer;
                background-color: $dark-color;
                width: 60px;
                border-radius: 50px;

                @media screen and (max-width: 860px) {
                    display: block;
                    

                    &.active{
                        .bar:nth-child(2){
                            opacity: 0;
                        }

                        .bar:nth-child(1){
                            transform: translateY(10px) rotate(45deg);
                        }

                        .bar:nth-child(3){
                            transform: translateY(-10px) rotate(-45deg);
                        }
                    }
                }

                .bar{
                    display: block;
                    width: 35px;
                    height: 4px;
                    margin: 7px auto;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    background-color: $light-color;
                }
            }
        }
    }
}

