$color-brown: #D1690D ;
$color-light: #bad1dc;
$color-dark : #22162B;
$light-subtitle: #fff;

//Gradient Background

$part-1-bg: linear-gradient(#000000, #232323); 
$part-2-bg: linear-gradient(#232323, #464646);  
$part-3-bg: linear-gradient(#464646, #6A6A6A);  
$part-4-bg: linear-gradient(#6A6A6A, #8D8D8D);  
$part-5-bg: linear-gradient(#8D8D8D, #B0B0B0);  
$part-6-bg: linear-gradient(#B0B0B0, #DCDCDC);  
$part-7-bg: linear-gradient(#DCDCDC, #FFFFFF);  