body .parts7, body .parts6, body .parts5, body .parts4, body .parts3, body .parts2, body .parts1 {
  width: 100%;
  height: auto;
}

body .parts7 .subtitle, body .parts6 .subtitle, body .parts5 .subtitle, body .parts4 .subtitle, body .parts3 .subtitle, body .parts2 .subtitle, body .parts1 .subtitle {
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  font-family: specialFont;
  padding: 0.8em 0;
  color: #fff;
  letter-spacing: 10px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  body .parts7 .subtitle, body .parts6 .subtitle, body .parts5 .subtitle, body .parts4 .subtitle, body .parts3 .subtitle, body .parts2 .subtitle, body .parts1 .subtitle {
    font-size: 70px;
  }
}
@media only screen and (max-width: 768px) {
  body .parts7 .subtitle, body .parts6 .subtitle, body .parts5 .subtitle, body .parts4 .subtitle, body .parts3 .subtitle, body .parts2 .subtitle, body .parts1 .subtitle {
    font-size: 65px;
  }
}
@media only screen and (max-width: 425px) {
  body .parts7 .subtitle, body .parts6 .subtitle, body .parts5 .subtitle, body .parts4 .subtitle, body .parts3 .subtitle, body .parts2 .subtitle, body .parts1 .subtitle {
    font-size: 40px;
  }
}

body .parts7 .container-partner .partner-link .purchase-link, body .parts4 .container-section-3 .text-container-section-3 .purchase-link, body .parts3 .purchase-link {
  font-family: "Courier New", Courier, monospace;
  padding: 20px 0;
  text-align: center;
  background-color: #111;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

body .parts6 .info-contact-container .content-info .social a i, body header nav .menu li a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3b5998;
  border-radius: 50px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
body .parts6 .info-contact-container .content-info .social a i.fa-facebook-f:hover, body header nav .menu li a i.fa-facebook-f:hover {
  background-color: #5777bd;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: specialFont;
  src: url(fonts/font.ttf);
}
@font-face {
  font-family: fontText;
  src: url(fonts/Figerona-VF.ttf);
}
@font-face {
  font-family: fontFacebookGroup;
  src: url(fonts/ArtificialIntelligence_PERSONAL_USE_ONLY.otf);
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #000;
  height: auto;
}
body header nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 0.5% 5% 0% 5%;
  z-index: 1;
}
@media screen and (min-width: 860px) {
  body header nav.sticky {
    background-color: #fff;
  }
  body header nav.sticky ul li a {
    color: #000;
    font-weight: 900;
  }
}
body header nav .a-logo {
  width: min(100%, 100px);
  padding-right: 5%;
  display: flex;
  justify-content: center;
}
body header nav .a-logo .logo {
  width: 100px;
}
body header nav .menu {
  width: min(100%, 1024px);
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 860px) {
  body header nav .menu {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: #111;
  }
  body header nav .menu.active {
    left: 0;
  }
}
body header nav .menu li {
  list-style: none;
}
@media screen and (max-width: 860px) {
  body header nav .menu li {
    margin: 16px 0;
  }
}
body header nav .menu li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 20px;
  transition: 0.6s;
}
body header nav .menu li a:hover {
  font-size: 26px;
}
@media only screen and (max-width: 1024px) {
  body header nav .menu li a {
    font-size: 17px;
  }
  body header nav .menu li a:hover {
    font-size: 20px;
  }
}
@media screen and (max-width: 860px) {
  body header nav .menu li a {
    font-size: 21px;
    color: #fff;
  }
}
body header nav .hamburger {
  display: none;
  cursor: pointer;
  background-color: #111;
  width: 60px;
  border-radius: 50px;
}
@media screen and (max-width: 860px) {
  body header nav .hamburger {
    display: block;
  }
  body header nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  body header nav .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  body header nav .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
body header nav .hamburger .bar {
  display: block;
  width: 35px;
  height: 4px;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
body .main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("img/background-main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .main .main-title {
  width: min(100%, 900px);
  text-align: center;
  position: absolute;
  top: 5%;
  line-height: 150%;
  left: 50%;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.993);
  font-family: specialFont;
  font-weight: 100;
  transform: translate(-50%, 50%);
}
@media only screen and (max-width: 1024px) {
  body .main .main-title {
    font-size: 80px;
  }
}
@media only screen and (max-width: 768px) {
  body .main .main-title {
    font-size: 60px;
  }
}
@media only screen and (max-width: 425px) {
  body .main .main-title {
    font-size: 55px;
  }
}
body .parts1 {
  background-image: linear-gradient(#000000, #232323);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .parts1 .container-parent {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1024px) {
  body .parts1 .container-parent {
    flex-direction: column;
  }
}
body .parts1 .container-parent article {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: min(960px, 50%);
  color: #fff;
  padding: 0 5%;
  text-align: center;
  font-family: fontText;
  line-height: 50px;
  letter-spacing: 1px;
  font-size: 19px;
}
@media only screen and (max-width: 1024px) {
  body .parts1 .container-parent article {
    width: min(1024px, 95%);
  }
}
body .parts1 .container-parent article h3 {
  padding: 2% 0;
  font-size: 28px;
  width: 100%;
}
@media only screen and (max-width: 425px) {
  body .parts1 .container-parent article h3 {
    font-size: 22px;
  }
}
body .parts1 .container-parent article p {
  width: 79%;
  color: rgb(214, 213, 213);
}
@media only screen and (max-width: 425px) {
  body .parts1 .container-parent article p {
    width: 95%;
    font-size: 17px;
  }
}
body .parts1 .container-parent article p strong {
  font-size: 21px;
}
body .parts1 img {
  max-width: 95%;
}
body .parts1 .gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: min(600px, 100%);
  margin: auto;
  height: 600px;
}
body .parts1 .gallery__img {
  position: absolute;
  top: 40%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
}
body .parts1 .gallery__thumb {
  padding-top: 6px;
  margin: 6px;
  display: flex;
}
body .parts1 .gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
body .parts1 .gallery__selector:checked + .gallery__img {
  opacity: 1;
}
body .parts1 .gallery__selector:checked ~ .gallery__thumb > img {
  box-shadow: 0 0 0 3px #fff;
}
body .parts2 {
  background-image: linear-gradient(#232323, #464646);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .parts2 .subtitle {
  padding-top: 8%;
}
body .parts2 .ticket-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1024px) {
  body .parts2 .ticket-content {
    flex-direction: column;
    height: 180vh;
    justify-content: center;
  }
}
@media only screen and (max-width: 425px) {
  body .parts2 .ticket-content {
    height: 140vh;
  }
}
body .parts2 .ticket-content .panneau-img {
  width: min(614px, 50%);
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  body .parts2 .ticket-content .panneau-img {
    width: 50%;
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  body .parts2 .ticket-content .panneau-img {
    width: 80%;
  }
}
body .parts2 .ticket-content iframe {
  width: min(672px, 40%);
  height: 80%;
}
@media only screen and (max-width: 1024px) {
  body .parts2 .ticket-content iframe {
    width: 90%;
    height: 800px;
  }
}
body .parts3 {
  background-image: linear-gradient(#464646, #6A6A6A);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .parts3 .subtitle {
  padding: 1.5em 0;
}
body .parts3 .skewed {
  width: min(1400px, 100%);
  color: #f1f1f1;
  display: flex;
  background-color: #111;
  margin: 2.5% 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 768px) {
  body .parts3 .skewed {
    display: block;
    width: 90%;
  }
}
body .parts3 .skewed .text {
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  body .parts3 .skewed .text {
    width: 100%;
    align-items: center;
  }
}
body .parts3 .skewed .text h3 {
  text-align: center;
  width: 95%;
  margin: auto;
  font-size: 100px;
  font-family: specialFont;
  font-weight: 100;
  padding-top: 5%;
}
@media only screen and (max-width: 1024px) {
  body .parts3 .skewed .text h3 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 768px) {
  body .parts3 .skewed .text h3 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 425px) {
  body .parts3 .skewed .text h3 {
    font-size: 40px;
  }
}
body .parts3 .skewed .text .days {
  width: 100%;
  font-size: 19px;
  padding-left: 2%;
}
@media screen and (max-width: 768px) {
  body .parts3 .skewed .text .days {
    padding: 7% 2%;
  }
}
body .parts3 .skewed .image {
  width: 60%;
  height: auto;
  position: relative;
  align-content: center;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  body .parts3 .skewed .image {
    width: 100%;
  }
}
body .parts3 .skewed .image::before {
  content: "";
  position: absolute;
  left: -50%;
  top: 50%;
  transform: translateY(-50%) rotate(10deg);
  background-color: #111;
  width: 60%;
  height: 160%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 768px) {
  body .parts3 .skewed .image::before {
    width: 120%;
    height: 40%;
    top: -8em;
    left: 50%;
    transform: translateX(-50%) rotate(10deg);
  }
}
@media only screen and (max-width: 425px) {
  body .parts3 .skewed .image::before {
    display: none;
  }
}
body .parts3 .skewed .image img {
  width: 840px;
  height: 500px;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  body .parts3 .skewed .image img {
    width: 640px;
  }
}
@media only screen and (max-width: 425px) {
  body .parts3 .skewed .image img {
    height: 300px;
  }
}
body .parts3 .skewed-left .image::before {
  transform: translateY(-50%) rotate(-10deg);
  left: initial;
  right: -50%;
}
@media screen and (max-width: 768px) {
  body .parts3 .skewed-left .image::before {
    top: initial;
    bottom: -5em;
    right: -70%;
    transform: translateX(-50%) rotate(-10deg);
  }
}
body .parts3 .purchase-link {
  width: min(576px, 80%);
  margin: 2% 0;
}
body .parts4 {
  background-image: linear-gradient(#6A6A6A, #8D8D8D);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .parts4 .subtitle {
  padding-top: 1.2em;
}
body .parts4 .travel-img {
  width: min(1400px, 95%);
  height: auto;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7);
  margin: 2% 0;
}
body .parts4 h3 {
  text-align: center;
  color: #fff;
  width: 100%;
  margin: auto;
  font-size: 60px;
  font-family: specialFont;
  font-weight: 100;
  margin: 1% 0 3% 0;
}
@media only screen and (max-width: 425px) {
  body .parts4 h3 {
    font-size: 30px;
  }
}
body .parts4 .container-section-3 {
  height: auto;
  width: min(1536px, 95%);
  display: flex;
  justify-content: center;
  box-shadow: inset 5em 1em #111;
  padding: 2% 0;
}
@media screen and (max-width: 900px) {
  body .parts4 .container-section-3 {
    flex-direction: column;
  }
}
body .parts4 .container-section-3 .text-container-section-3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 900px) {
  body .parts4 .container-section-3 .text-container-section-3 {
    width: 95%;
  }
}
body .parts4 .container-section-3 .text-container-section-3 h4 {
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  padding-top: 15%;
  font-family: fontText;
  color: #fff;
  letter-spacing: 3px;
}
@media only screen and (max-width: 1024px) {
  body .parts4 .container-section-3 .text-container-section-3 h4 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 425px) {
  body .parts4 .container-section-3 .text-container-section-3 h4 {
    font-size: 23px;
  }
}
body .parts4 .container-section-3 .text-container-section-3 .purchase-link {
  width: min(384px, 95%);
  margin: 6% 0;
}
body .parts4 .container-section-3 .promotion {
  display: flex;
  align-items: center;
  width: min(768px, 60%);
  color: #fff;
  padding: 0 5%;
  text-align: center;
  font-family: fontText;
  line-height: 50px;
  letter-spacing: 1px;
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0.0862745098);
  border-radius: 50px;
}
@media screen and (max-width: 900px) {
  body .parts4 .container-section-3 .promotion {
    width: 95%;
    font-size: 18px;
  }
}
body .parts5 {
  background-image: linear-gradient(#8D8D8D, #B0B0B0);
}
body .parts5 .subtitle {
  padding-top: 1.2em;
}
body .parts5 .container-parent-section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  body .parts5 .container-parent-section-5 {
    align-items: center;
  }
}
body .parts5 .container-parent-section-5 .music-groups {
  position: relative;
  background-color: red;
  width: 80%;
  height: auto;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.7);
  margin: 2% 0;
}
@media only screen and (max-width: 1024px) {
  body .parts5 .container-parent-section-5 .music-groups {
    width: 95%;
  }
}
body .parts5 .container-parent-section-5 .container-child-section-5 {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1024px) {
  body .parts5 .container-parent-section-5 .container-child-section-5 {
    flex-direction: row;
    width: 100%;
  }
}
body .parts5 .container-parent-section-5 .container-child-section-5 img {
  width: 200px;
  border-radius: 500px;
}
@media only screen and (max-width: 1024px) {
  body .parts5 .container-parent-section-5 .container-child-section-5 img {
    width: 150px;
  }
}
body .parts5 .container-parent-section-5 .container-child-section-5 h3 {
  text-align: center;
  width: 280px;
  border-radius: 20px;
  box-shadow: inset 1em 1em #5777bd;
  border: 2px double #3b5998;
  font-family: fontFacebookGroup;
  font-size: 70px;
  background-color: #3b5998;
  font-weight: 100;
  letter-spacing: 3px;
  margin: 4% 0;
}
@media only screen and (max-width: 768px) {
  body .parts5 .container-parent-section-5 .container-child-section-5 h3 {
    width: 150px;
    font-size: 30px;
  }
}
body .parts5 .container-parent-section-5 .container-child-section-5 h3 a {
  text-decoration: none;
  color: #fff;
}
body .parts5 .container-parent-section-5 p {
  color: #fff;
  width: min(1150px, 95%);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.0862745098);
  border-radius: 20px;
  line-height: 30px;
  padding: 0.5% 0.5%;
}
@media only screen and (max-width: 768px) {
  body .parts5 .container-parent-section-5 p {
    font-size: 25px;
  }
}
@media only screen and (max-width: 425px) {
  body .parts5 .container-parent-section-5 p {
    font-size: 20px;
  }
}
body .parts6 {
  background-image: linear-gradient(#B0B0B0, #DCDCDC);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 0 5% 0;
}
body .parts6 .subtitle {
  padding-bottom: 5%;
}
body .parts6 .info-contact-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(1224px, 90%);
  height: auto;
}
@media only screen and (max-width: 1024px) {
  body .parts6 .info-contact-container {
    flex-direction: column;
  }
}
body .parts6 .info-contact-container .content-info {
  height: 575px;
  width: min(425px, 99%);
  color: #fff;
  background-color: #111;
  box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.514);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media only screen and (max-width: 425px) {
  body .parts6 .info-contact-container .content-info {
    height: 420px;
  }
}
body .parts6 .info-contact-container .content-info .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 13%;
  justify-content: space-between;
}
body .parts6 .info-contact-container .content-info .info .info-text {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-family: fontText;
}
@media only screen and (max-width: 425px) {
  body .parts6 .info-contact-container .content-info .info .info-text {
    font-size: 18px;
  }
}
body .parts6 .info-contact-container .content-info .social a {
  text-decoration: none;
}
body .parts6 .info-contact-container .map {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  body .parts6 .info-contact-container .map {
    width: 100%;
  }
}
body .parts6 .info-contact-container .map iframe {
  border: none;
  width: 700px;
  height: 500px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(7, 7, 7, 0.514);
}
@media only screen and (max-width: 1024px) {
  body .parts6 .info-contact-container .map iframe {
    width: 99%;
  }
}
@media only screen and (max-width: 425px) {
  body .parts6 .info-contact-container .map iframe {
    height: 400px;
  }
}
body .parts6 .info-contact-container .color-black-border {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 67.4%;
  left: 83.7%;
  box-shadow: 1em 10px #111;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1310px) {
  body .parts6 .info-contact-container .color-black-border {
    display: none;
  }
}
body .parts7 {
  background-image: linear-gradient(#DCDCDC, #FFFFFF);
  position: relative;
  padding-bottom: 10%;
}
body .parts7 .subtitle {
  padding-bottom: 5%;
  color: #111;
}
body .parts7 .container-partner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1024px) {
  body .parts7 .container-partner {
    flex-direction: column;
  }
}
body .parts7 .container-partner .text-partner {
  color: #111;
  width: min(1100px, 100%);
  padding: 4% 5%;
  text-align: center;
  font-family: fontText;
  line-height: 50px;
  letter-spacing: 1px;
  font-size: 26px;
  text-decoration: underline;
}
@media only screen and (max-width: 425px) {
  body .parts7 .container-partner .text-partner {
    font-size: 20px;
    padding: 4% 0;
  }
}
body .parts7 .container-partner .text-partner strong {
  font-size: 28px;
}
body .parts7 .container-partner .partner-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .parts7 .container-partner .partner-link .logo-img-section-6 {
  width: min(700px, 100%);
}
body .parts7 .container-partner .partner-link .purchase-link {
  width: min(375px, 80%);
  margin: 6% 0;
}
body footer {
  width: 100%;
  background-color: #fff;
  height: 7vh;
}
body footer .list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  body footer .list {
    flex-direction: column;
  }
}
body footer .list li {
  font-family: "Courier New", Courier, monospace;
  color: #111;
  list-style: none;
}
@media only screen and (max-width: 768px) {
  body footer .list li {
    font-size: 11px;
  }
}
body footer .list li a {
  text-decoration: none;
  color: #000;
}/*# sourceMappingURL=styles.css.map */